---

- name: populate variables
  ansible.builtin.setup:

- name: Pre-config tasks
  include_tasks: pre-config.yaml

- name: common k8s setup tasks
  include_tasks: "{{ ansible_os_family | lower }}.yaml"

- name: enable and use kubelet
  ansible.builtin.service:
    name: kubelet
    state: started
    enabled: yes

- name: remove existing docker packages from base distro
  ansible.builtin.apt:
    name:
      - docker
      - docker-engine
      - docker.io
      - containerd
      - runc
    state: absent

- name: update all packages
  ansible.builtin.apt:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
    state: latest

- name: Controller config
  include_tasks: controller.yaml
  when: inventory_hostname in groups['controllers']

- name: check for nodes
  ansible.builtin.command: kubectl get nodes
  register: nodelist
  delegate_to: "{{ k8s_controller }}"

- name: worker config
  include_tasks: workers.yaml
  when:
    - inventory_hostname in groups['workers']
    - not inventory_hostname in nodelist.stdout

- name: Setup cluster-reset script
  ansible.builtin.template:
    src: cluster-reset.sh.j2
    dest: /root/cluster-reset.sh
    owner: root
    group: root
    mode: 0755
