config ddns 'global'
        option ddns_dateformat '%F %R'
        option ddns_loglines '250'
        option ddns_rundir '/var/run/ddns'
        option ddns_logdir '/var/log/ddns'

{% for domain in ddns_domains %}
config service '{{ domain.service }}-{{ domain.ipv6 | int }}'
        option service_name '{{ service }}'
        option use_ipv6 '{{ domain.ipv6 | int }}'
        option lookup_host '{{ doamin.hostname }}'
        option domain '{{ domain.hostname }}'
        option username '{{ doamin.username }}'
        option password '{{ domain.password }}'
        option ip_source 'network'
        option ip_network '{{ domain.interface }}'
        option interface '{{ domain.interface }}'
        option use_syslog '2'
        option check_unit 'minutes'
        option force_unit 'minutes'
        option retry_unit 'seconds'
        option use_https '1'
        option cacert 'IGNORE'
        option enabled '1'
{% endfor %}