
config globals 'globals'
	option packet_steering '1'
	option ula_prefix '{{ router.ula_prefix }}'

{% for dev in router.devices %}
config device
	option name '{{ dev.name }}'
	{% if dev.mac is defined %}option macaddr '{{ dev.mac }}'{%- endif +%}
	{% if dev.type is defined %}option type '{{ dev.type }}'{%- endif +%}
	{% if dev.ports is defined -%}
	{% for port in dev.ports %}list ports '{{ port }}'
	{% endfor %}
	{%- endif %}

{% endfor %}

{% for iface in router.interfaces %}
config interface '{{ iface.name }}'
	option proto '{{ iface.proto }}'
	{% if iface.dev is defined %}option device '{{ iface.dev }}'{% endif +%}
	{% if iface.ipv4 is defined %}option ipaddr '{{ iface.ipv4 }}'{% endif +%}
	{% if iface.netmask is defined %}option netmask '{{ iface.netmask }}'{% endif +%}
	{% if iface.dns_search is defined %}list dns_search '{{ iface.dns_search }}'{% endif +%}
	{% if iface.peerdns is defined %}option peerdns '{{ iface.peerdns }}'{% endif +%}
	{% if iface.reqaddress is defined %}option reqaddress '{{ iface.reqaddress }}'{% endif +%}
	{% if iface.reqprefix is defined %}option reqprefix '{{ iface.reqprefix }}'{% endif +%}
	{% if iface.ip6assign is defined %}option ip6assign '{{ iface.ip6assign }}'{% endif +%}
	{% if iface.private_key is defined %}option private_key '{{ iface.private_key }}'{% endif +%}
	{% if iface.dns_servers is defined -%}
	{% for dns_server in iface.dns_servers %}list dns '{{ dns_server }}'
	{% endfor %}
	{%- endif +%}
	{% if iface.addresses is defined -%}
	{% for address in iface.addresses %}list addresses '{{ address }}'
	{% endfor %}
	{%- endif %}

{% endfor %}
