nameOverride: argocd

createAggregateRoles: false
createClusterRoles: true

global:
  domain: argocd.clt.milco.casa

  affinity:
    podAntiAffinity: soft
    nodeAffinity:
      type: hard
      matchExpressions: []
  dualStack:
    ipFamilyPolicy: PreferDualStack
    ipFamilies:
      - IPv4
      - IPv6

configs:
  cm:
    create: true
    admin.enabled: true
    url: https://argocd.clt.milco.casa/

    resource.exclusions: |
      - apiGroups:
        - velero.io
        kinds:
        - Backup
        clusters:
        - "*"

    oidc.config: |
      name: Homelab
      issuer: https://sso.clt.milco.casa/realms/homelab
      clientID: argocd
      clientSecret: u4PGDRFLnYuVpYPeGsPoxmTnWq9COphY
      requestedScopes: ["openid", "profile", "email", "groups"]

  params:
    server.insecure: true
  rbac:
    create: true
    policy.csv: |
      p, role:org-admin, applications, *, */*, allow
      p, role:org-admin, clusters, get, *, allow
      p, role:org-admin, repositories, *, *, allow
      p, role:org-admin, logs, get, *, allow
      p, role:org-admin, exec, create, */*, allow
      g, app-argo-admins, role:admin
      g, app-argo-users, role:org-admin
      g, app-argo-viewers, role:readonly

  ssh:
    create: true
    extraHosts: ''

server:
  name: server
  replicas: 1
  ingress:
    enabled: true
    ingressClassName: "traefik"
    tls: true

  service:
    type: ClusterIP
