nameOverride: argocd

createAggregateRoles: false
createClusterRoles: true

global:
  domain: argocd.milco.casa

  affinity:
    podAntiAffinity: soft
    nodeAffinity:
      type: hard
      matchExpressions: []
  dualStack:
    ipFamilyPolicy: PreferDualStack
    ipFamilies:
      - IPv4
      - IPv6

configs:
  cm:
    create: true
    admin.enabled: true
    url: https://argocd.milco.casa/

    dex.config: |
      connectors:
      - type: ldap
        name: freeipa-ldap
        id: ldap
        config:
          host: "ldap.clt.milco.casa:123"
          insecureNoSSL: false
          insecureSkipVerify: false
          bindDN: "$ldap.bindDN"
          bindPW: "$ldap.bindPW"
          usernamePrompt: Username
          userSearch:
            baseDN: "memberOf=argo,ou=users,dc=auth,dc=milco,dc=casa"
            filter: ""
            username: uid
            idAttr: uid
            emailAttr: mail
            nameAttr: displayName
          groupSearch:
            baseDN: "cn=argo,ou=groups,dc=auth,dc=milco,dc=casa"
            filter: "(objectClass=groupOfNames)"
            userAttr: DN
            groupAttr: member
            nameAttr: cn

  rbac:
    create: true
    policy.default: ''
    policy.csv: ''
    scopes: "[groups]"
    policy.matchMode: "glob"

  ssh:
    create: true
    extraHosts: ''

dex:
  enabled: false
  name: dex-server
  extraArgs: []

server:
  name: server
  replicas: 1
  certificate:
    enabled: false

  ingress:
    enabled: false

  service:
    type: LoadBalancer
    annotations:
      metallb.io/loadBalancerIPs: {{ network_services.argo.ipv4 }},{{
      network_services.argo.ipv6 }}
