---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: argo-oidc-secrets
spec:
  encryptedData:
    oidc.clientSecret: AgA3uMoy8S3No6h/jWjdlnlN8y+JIjPJvNj4DgYUeUNLDBXa+20KE5de0wmHwqBQeeU05LkZ2Q34sl/lwtUJ9t+8XQpeg/cRb3/ppRxFSYKJGix16+hBV1cGTC8FnafGhSYHtTWLbfVzXcFf8yzcwXfusV2i7sqI0n11LjU4Rb7c0Y38x9t7KNMnufddYNzOTRnTcQEHerXB1e9oB5FT9uHQ/mQ4WrK1oXy847SH52ATQmN+FNdEs/X85lNJXN3nri/Ez0VKQnG5lp1IozXlSaFPl49oLvXwe+c98g7jqpCzECITpsIkl5zau6Oj9ZroXlRSLleiNE3tanMh2OGDkk1yIQUAFUimkmdcQaBFjWM/1CxIW2rMI9GwRhhywWUp2qbBH/2WFbLyTDFwhgk+I4wmUsGd4pxoK6aS+AapaQlAetrBhC64HuFGNPGxDGKqZ4uycfaaxd7kyoC+lx5x8V6hvJobwMgdywx5rRpJFeq+ZNSXVYf7LVubVa7mHf4WGJb9aBwMaoummMuCB+0R5o7lCdhEJQ34HTcNb+u/5WRZEowZrFEZV4h6Pxe9AfU85dp90Y/fSitQ9t8aY0EprybeZPYwdP/vvgkElRBueK/+50hu/bLEXFPYLhQGoCxfuKPdzUNpzNjxORXuGIBzD7RwF+KTNpomt7jHTXLOH8HDKXi5TFSRaRxPaJcR8TwmrPuj0HavmNRMiupzsAiVHCY5OMWZpnKNkhh/4OTXHsZvlg==
  template:
    metadata:
      name: argo-oidc-secrets
      labels:
        app.kubernetes.io/part-of: argocd
