apiVersion: v1
kind: Secret
metadata:
  name: sealed-secrets-key5ldlf
  namespace: sealed-secrets
  generateName: sealed-secrets-key
  labels:
    sealedsecrets.bitnami.com/sealed-secrets-key: active
type: kubernetes.io/tls
stringData:
  tls.crt: "{{ sealed_secrets_tls_crt }}"
  tls.key: "{{ sealed_secrets_tls_key }}"
