apiVersion: v1
kind: Secret
metadata:
  name: homelab-key
  namespace: sealed-secrets
  labels:
    sealedsecrets.bitnami.com/sealed-secrets-key: active
type: kubernetes.io/tls
stringData:
  tls.crt: |
    {{ sealed_secrets_tls_crt | indent(4) }}
  tls.key: |
    {{ sealed_secrets_tls_key | indent(4) }}
