---

- name: Add GPG Key
  ansible.builtin.apt_key:
    url: https://dl.k8s.io/apt/doc/apt-key.gpg
    state: present

- name: Add crio signing key 
  get_url:
    url: https://pkgs.k8s.io/addons:/cri-o:/stable:/v{{ crio_version[:4] }}/deb/Release.key
    dest: /etc/apt/trusted.gpg.d/crio.asc
    mode: '0644'
    force: true 

- name: Add cri-o repo
  ansible.builtin.apt_repository:
    repo: deb [signed-by=/etc/apt/trusted.gpg.d/crio.asc] https://pkgs.k8s.io/addons:/cri-o:/stable:/v{{ crio_version[:4] }}/deb/ /
    state: present

- name: Install cri-o packages
  ansible.builtin.apt:
    name:
      - cri-o={{ crio_version }}-1.1
      - cri-tools
      - runc
    allow_change_held_packages: yes
    state: present
    update_cache: yes
  become: yes

- name: Lock cri-o from updates
  ansible.builtin.dpkg_selections:
    name: '{{ item }}'
    selection: hold
  loop:
    - cri-o
    - cri-tools

- name: Download crun
  ansible.builtin.get_url:
    url: https://github.com/containers/crun/releases/download/{{ crun_version }}/crun-{{ crun_version }}-linux-amd64 
    dest: "/usr/local/bin/crun"
    owner: root
    group: root
    mode: 0755

- name: Ensure container path
  ansible.builtin.file:
    path: /etc/containers
    owner: root
    group: root
    mode: 0755
    state: directory

- name: Configure container policy
  ansible.builtin.template:
    src: policy.json.j2
    dest: /etc/containers/policy.json
    owner: root
    group: root
    mode: 0640

- name: Link common binary
  ansible.builtin.file:
    src: /usr/libexec/crio/conmon 
    dest: /usr/local/bin/conmon
    state: link

- name: Enable cri-o service
  ansible.builtin.systemd:
    enabled: yes
    state: started
    name: crio
...
