---
apiVersion: objectbucket.io/v1alpha1
kind: ObjectBucketClaim
metadata:
  name: {{ harbor_bucket_name }}
  namespace: {{ harbor_namespace }}
spec:
  generateBucketName: harbor-bucket
  storageClassName: ceph-bucket
