---
version: '3.7'
services:
  freeipa:
    image: freeipa/freeipa-server:centos-9-stream-4.10.1
    restart: unless-stopped
    hostname: ipa-01
    domainname: clt.milco.casa
    environment:
      IPA_SERVER_HOSTNAME: ipa-01.clt.milco.casa
      TZ: "Americas/New_York"
      DNS=10.1.1.1
    tty: true
    stdin_open: true
    cap_add:
      - SYS_TIME
      #- NET_ADMIN
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
      - freeipavol:/data
    tmpfs:
      - /run
      - /var/cache
      - /tmp
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=0
      - net.ipv6.conf.lo.disable_ipv6=0
    security_opt:
      - "seccomp:unconfined"
    command:
      - --unattended
      - --domain=auth.milco.casa
      - --realm=AUTH.MILCO.CASA
      - --ds-password=mypasswordds
      - --admin-password=mypasswordap
      - --no-host-dns
      - --setup-dns
      - --auto-forwarders
      - --allow-zone-overlap
    ports:

      - "80:80"
      - "443:443"
      - "389:389"
      - "636:636"
      - "88:88"
      - "464:464"
      - "88:88/udp"
      - "464:464/udp"
      - "123:123/udp"

volumes:
  freeipavol: