---
#
# See complete values file here:
# https://github.com/cilium/cilium/blob/master/install/kubernetes/cilium/values.yaml
#

# -- Roll out cilium agent pods automatically when configmap is updated.
rollOutCiliumPods: true

kubeProxyReplacement: true
k8sServiceHost: "{{ k8s_controller }}"
k8sServicePort: "6443"

gatewayAPI:
  enable: true

ingressController:
  enabled: true
  default: true
  loadbalancerMode: dedicated
  defaultSecretNamespace: cert-manager
  defaultSecretName: {{ lan_domain_cert }}
  service:
    enabled: true
    ipv6:
      enabled: true
    ipFamilyPolicy: PreferDualStack
    ipFamilies:
      - IPv4
      - IPv6
    annotations:
      "metallb.io/loadBalancerIPs": "{{ network_services.cilium.ipv4 }},{{ network_services.cilium.ipv6 }}"

ipv4:
  enabled: true
ipv6:
  enabled: true
#  clusterPool:
#    # What network are we alloc IPs from. Must be /64
#    ipv6CIDR: "{{ k8s_pod_network.ipv6 }}"
#    ipv6Mask: "/112"

lbIPAM:
  enabled: true

envoy:
  enabled: true

defaultLBServiceIPAM: lbipam

ipam:
  operator:
    clusterPoolIPv4PodCIDRList:
      - {{ k8s_pod_network.ipv4 }}
    clusterPoolIPv6PodCIDRList:
      - "{{ k8s_pod_network.ipv6 }}"
    clusterPoolIPv6MaskSize: 96

bpf:
  masquerade: true

hubble:
  enabled: true
  metrics:
    enabled: ~
    serviceMonitor:
      enabled: false
    dashboards:
      enabled: true
      label: grafana_dashboard
      namespace: ~
      labelValue: "1"
      annotations: {}
  socketPath: /var/run/cilium/hubble.sock

  preferIpv6: true

  tls:
    enabled: true
    auto:
      enabled: true
      method: helm
      certValidityDuration: 1095

  relay:
    enabled: true
  ui:
    enabled: true

