---
#
# See complete values file here:
# https://github.com/cilium/cilium/blob/master/install/kubernetes/cilium/values.yaml
#

# -- Roll out cilium agent pods automatically when configmap is updated.
rollOutCiliumPods: true

kubeProxyReplacement: true
k8sServiceHost: "{{ k8s_controller }}"
k8sServicePort: "6443"

#
# Settings Reference: https://yolops.net/k8s-dualstack-cilium.html
#
ipv6:
  enabled: true

enableIPv6Masquerade: false

ipam:
  mode: "cluster-pool"
  operator:
    clusterPoolIPv4PodCIDRList: [ {{ k8s_pod_network.ipv4 }} ]
    clusterPoolIPv4MaskSize: 24
    clusterPoolIPv6PodCIDRList: [ {{ k8s_pod_network.ipv6 }} ]
    clusterPoolIPv6MaskSize: 112

bpf:
  masquerade: true

hubble:
  enabled: true
  metrics:
    enabled: ~
    serviceMonitor:
      enabled: false
    dashboards:
      enabled: true
      label: grafana_dashboard
      namespace: ~
      labelValue: "1"
      annotations: {}
  socketPath: /var/run/cilium/hubble.sock

  preferIpv6: true

  # -- TLS configuration for Hubble
  tls:
    enabled: true
    auto:
      enabled: true
      # - certmanager:  This method use cert-manager to generate & rotate certificates.
      method: helm
      # -- Generated certificates validity duration in days.
      certValidityDuration: 1095

  relay:
    enabled: true
  ui:
    enabled: true

