---
global:
  rbac:
    create: true
    aggregateClusterRoles: true

crds:
  enabled: true
  keep: true

replicaCount: 1

namespace: "{{ cert_manager_namespace }}"

acmesolver:
  image:
    repository: quay.io/jetstack/cert-manager-acmesolver
