---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt
  namespace: {{ cert_manager_namespace }}
spec:
  acme:
    email: "{{ acme_account_email }}"
    #server: https://acme-staging-v02.api.letsencrypt.org/directory
    server: https://acme-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      #name: "letsencrypt-key-staging"
      name: "letsencrypt-key"
    solvers:
      - selector:
          dnsNames:
            - '{{ lan_tld }}'
            - '*.{{ lan_tld }}'
            - '*.{{ lan_domain }}'
        dns01:
          webhook:
            groupName: "{{ porkbun_group }}"
            solverName: porkbun
            config:
              apiKeySecretRef:
                name: porkbun-key
                key: api-key
              secretKeySecretRef:
                name: porkbun-key
                key: secret-key
...
