apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: wildcard.{{ lan_domain }}
spec:
  commonName: "{{ lan_tld }}"
  dnsNames:
    - '*.{{ lan_tld }}'
    - '{{ lan_tld }}'
  secretName: wildcard.{{ lan_domain }}
  issuerRef:
    name: letsencrypt
    kind: ClusterIssuer
  duration: 2160h # 90d
  renewBefore: 360h # 15d
  subject:
    organizations:
      - "{{ lan_tld }}"
