apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: wildcard.{{ lan_tld }}
spec:
  commonName: "{{ lan_tld }}"
  dnsNames:
    - '*.{{ lan_tld }}'
    - '{{ lan_tld }}'
    - '*.{{ lan_domain }}'
  secretName: wildcard.{{ lan_tld }}
  issuerRef:
    name: letsencrypt-cloudflare
    kind: ClusterIssuer
  duration: 2160h # 90d
  renewBefore: 360h # 15d
  subject:
    organizations:
      - "{{ lan_tld }}"
  secretTemplate:
    annotations:
      reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
      reflector.v1.k8s.emberstack.com/reflection-allowed-namespaces: {{ cert_namespaces | join(',') }}
      reflector.v1.k8s.emberstack.com/reflection-auto-enabled: "true"


