---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: primary-ip-pool
  namespace: {{ metallb_namespace }}
spec:
  addresses:
    - {{ network.ipv4.server_pool.start }}-{{ network.ipv4.server_pool.end }}
    - {{ network.ipv6.server_pool.start }}-{{ network.ipv6.server_pool.end }}
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: primary-pool-advert
  namespace: {{ metallb_namespace }}
spec:
  ipAddressPools:
  - primary-ip-pool

...