apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ _cluster_cert }}
    server: https://{{ k8s_api_url }}:6443
  name: homelab
contexts:
- context:
    cluster: homelab
    user: {{ _username }}
  name: {{ _username }}@homelab
current-context: {{ _username }}@homelab
kind: Config
users:
- name: {{ _username }}
  user:
    token: {{ _user_token | b64decode }}