---
apiVersion: kubeadm.k8s.io/v1beta4
kind: JoinConfiguration
discovery:
  bootstrapToken:
    apiServerEndpoint: "{{ api_endpoint }}"
    token: "{{ token }}"
    caCertHashes:
      - "{{ ca_cert_hash }}"
nodeRegistration:
  kubeletExtraArgs:
    - name: node-ip
      value: "{{ host_ipv4 }},{{ host_ipv6 }}"
{% if cert_key is defined %}
controlPlane:
  localAPIEndpoint:
    advertiseAddress: "{{ host_ipv4 }}"
    bindPort: 6443
  certificateKey: "{{ cert_key }}"
{% endif %}
