{% for srv in dnsmasq_srv_records | default([]) %}
srv-host={{ srv.name }},{{ srv.target }},{{ srv.port }},{{ srv.priority }},{{ srv.weight }}
{% endfor %}

address=/traefik.clt.milco.casa/{{ network_services.traefik.ipv4 }}
address=/traefik.clt.milco.casa/{{ network_services.traefik.ipv6 }}

{% for host in clt_cname_records | default([]) %}
cname={{ host }}.clt.milco.casa,traefik.clt.milco.casa
{% endfor %}
