apiVersion: v1
kind: Service
metadata:
  labels:
    app: nfs
  name: nfs-lb
  namespace: nfs
spec:
  externalTrafficPolicy: Local
  ports:
  - name: nfs
    port: 2049
    protocol: TCP
    targetPort: 2049
  - name: sunrpc
    port: 111
    protocol: TCP
    targetPort: 111
  - name: statd
    port: 32765
    protocol: TCP
    targetPort: 32765
  - name: mountd
    port: 32767
    protocol: TCP
    targetPort: 32767
  selector:
    app: nfs
  sessionAffinity: None
  type: LoadBalancer
  loadBalancerIP: "{{ servers.nfs.ipv4 }}"
