---
service:
  type: LoadBalancer
  ipFamilyPolicy: PreferDualStack
  ipFamilies:
    - IPv4
    - IPv6

ports:
  web:
    redirections:
      entryPoint:
        to: websecure
        scheme: https
        permanent: true
  websecure:
    enabled: true
    port: 8443
    exposedPort: 443
    protocol: TCP
    tls:
      enabled: true
      secretName: wildcard.milco.casa 
  traefik:
    port: 9000
    expose: 
      default: false

certResolvers: {}

ingressClass:
  enabled: true
  isDefaultClass: false 

dashboard:
  enabled: true

logs:
  general:
    level: INFO
  access:
    enabled: true
pod:
  securityContext:
    capabilities:
      add:
      - NET_BIND_SERVICE
