---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: freeipa-ingress
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    nginx.ingress.kubernetes.io/rewrite-target: /
    cert-manager.io/cluster-issuer: letsencrypt
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - '*.milco.casa'
      secretName: star.clt.milco.casa
  rules:
    - host: ipa-01.clt.milco.casa
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: ipa-01-lb
                port:
                  number: 443