---
apiVersion: v1
kind: Secret
metadata:
  name: "ipa-01-install-secrets"
  namespace: {{ ipa_namespace }}
type: Opaque
stringData:
  IPA_OPTIONS: |-
    --unattended
    --realm={{ ipa_domain | upper }}
    --domain={{ ipa_domain }}
    --ds-password={{ ipa_directory_password }}
    --admin-password={{ ipa_admin_password }}
    --ntp-pool=us.pool.ntp.org
    --no-host-dns
    --setup-dns
    --zonemgr="{{ ipa_server_admin_email }}"
    --no-forwarders
    --skip-mem-check
    --auto-reverse
    --setup-kra
    --ssh-trust-dns
    --ip-address="{{ network_services["ipa-01"].ipv4 }}"
    --ip-address="{{ network_services["ipa-01"].ipv6 }}"
