{% for i in range(1, ipa_counter | int ) %}
---
apiVersion: v1
kind: Secret
metadata:
  name: "ipa-{{ "%02d" | format( i + 1 ) }}-install-secrets"
  namespace: {{ ipa_namespace }}
type: Opaque
stringData:
  IPA_ADMIN_PASSWORD: {{ ipa_admin_password }}
  IPA_REPLICA_OPTIONS: |-
    --unattended
    --principal=admin
    --ntp-pool=us.pool.ntp.org
    --no-host-dns
    --setup-dns
    --no-forwarders
    --skip-mem-check
    --auto-reverse
    --setup-kra
    --ssh-trust-dns
    --ip-address="{{ network_services[ "ipa-%02d" | format( i + 1 ) ].ipv4 }}"
    --realm={{ ipa_domain | upper }}
    --domain={{ ipa_domain }}
    --server=ipa-01.{{ lan_domain }}
{% endfor %}
